main#tudo{
    
}

header#cabecario{
    
}

nav#menu{
    background-color: #244bbf;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 2 rem;
}

ul.menu{
    transition: 1s ease;
}

ul.menu .item{
    cursor: pointer;
    display: inline;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: .75rem .5rem;
}

ul.menu .item:hover{
    background: #ff8f2d;
    border-radius: .75rem;
}

ul.menu .item + .item{
    margin-left: .5rem;
}

.btn-menu{
    display: ;
}



.btn-1{
    background-color: #244bbf;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border-radius: .5rem;
    margin-top: 25%;
}

.btn-2{
    background-color: #ff8f2d;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border-radius: .5rem;
    margin-top: 25%;
}