@import url('../global/rest.css');

main#tudo{

}

header#cabecario{

}

a{
    text-decoration: none;
}

nav#menu{
    background-color: #244bbf;
    min-height: 3rem;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 1rem;
}


.item{
    cursor: pointer;
    display: inline;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: .75rem .5rem;
    width: 100%;
}

.item:hover{
    background: #ff8f2d;
    border-radius: .75rem;
    transition: .3s ease-out;
}


.btn-1{
    background-color: #244bbf;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border-radius: .5rem;
    margin-top: 25%;
}

.btn-2{
    background-color: #ff8f2d;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border-radius: .5rem;
    margin-top: 5rem;
}

.tamanhologo {
    max-width: 100%;
    height: 100%;
}

p{
    text-align: center;
}