header#cabecario{
    height: 26vh;
}

nav#menu{
    background-color: #244bbf;
    height: 6vh;
    margin-top: 2vh;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-evenly;
    min-height: 2rem;
    align-items: center;
}
ul li a{
    text-decoration: none;
    font-weight: bolder;
    color: #FFFFFF;
}
li a:hover{
    background-color: #ff8f2d;
}

.naoclicavel{
    pointer-events: none;
}

.btn-1{
    background-color: #244bbf;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35%;
    height: 25%;
    border-radius: 10%;
    margin-top: 25%;
    margin-right: 2%;
}

.btn-2{
    background-color: #ff8f2d;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35%;
    height: 25%;
    border-radius: 10%;
    margin-top: 25%;
    margin-left: 2%;
}